<h2>New ad</h2>
<%= form_with(model: @ad, url: "/create") do |f| %>
<p>
Name<br>
<%= f.text_field :name, {:class=> 'form-control-sm'} %>
</p>
<p>
Description<br>
<%= f.text_area :description, {:class=> 'form-control-sm'} %>
</p>
<p>
Price<br>
<%= f.text_field :price, {:class=> 'form-control-sm'} %>
</p>
<p>
Seller<br>
<%= f.text_field :seller_id, {:class=> 'form-control-sm'} %>
</p>
<p>
Email<br>
<%= f.text_field :email, {:class=> 'form-control-sm'} %>
</p>
<p>
Img url<br>
<%= f.text_field :img_url, {:class=> 'form-control-sm'} %>
</p>
<p>
<%= f.submit "Create", {:class=>'btn btn-success'} %>
</p>
<% end %>
